<p style="margin-left: 15px; font-size: 22px; color: purple;">Please submit your registration form for new account and
    E-banking user!</p>

<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="service.formModel" (ngSubmit)="onSubmit()">
            <div class="form-group" >
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control"  />
                <div  *ngIf="validateFirstName()">
                    <div >First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control"  />
                <div  *ngIf="validateLastName()">
                    <div >Last Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" formControlName="address" class="form-control"/>
                <div  *ngIf="validateAddress()">
                    <div >Address is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" formControlName="age" class="form-control"/>
                <div *ngIf="validateAge()">
                    <div >Age is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" />
                <div  *ngIf="validateUsername()">
                    <div>Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"  />
                <div >
                    <div *ngIf="validatePassword()">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control"  />
                <div  *ngIf="validateEmail()">
                    <!-- what is class="invalid-feedback" -->
                    <div >Email is not valid</div>
                </div>
            </div>
            <div class="form-group">
                <label for="validationServer07" class="form-label">Account Type</label>
                <select formControlName="accountType" id="type" name="accountType" class="form-control">
                    <option [ngValue]="null" disabled>Select Account Type</option>
                    <option value="1">Checking</option>
                    <option value="2">Saving</option>
                </select>
            </div>
            <div class="form-group">
                <label for="validationServer08" class="form-label">Branch Location</label>
                <select formControlName="branch" id="branch" name="branchName" class="form-control">
                    <option [ngValue]="null" disabled>Select Branch</option>
                    <option value="1">Dallas, Texas</option>
                    <option value="2">Huston, Texas</option>
                </select>
            </div>
            <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                    aria-describedby="invalidCheck3Feedback" formControlName="agree" required>
                <label class="form-check-label" for="invalidCheck3">
                    Agree to terms and conditions
                </label>
                <div *ngIf="validateCheckBox()"id="invalidCheck3Feedback" class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div><br>
            <div class="form-group">
                <button [disabled] = "validateButton()" class="btn btn-primary">
                    <span  class=" spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>

        </form>
    </div>
</div>

